/* Galería: usa Grid para crear columnas automáticas que se adaptan al ancho de la pantalla */
/* Ancho máximo de la galería con max-width */
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
/* Imágenes: define el tamaño uniforme y el estilo visual (bordes y sombra) */
.gallery img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 2px 7px 4px rgba(0, 0, 0,0.1);
    transition: 0.3s;

}
/* Efecto Hover: agranda ligeramente la imagen cuando pasas el mouse */
.gallery img:hover{
    transform: scale(1.05);


}